<!-- HERO -->
<section class="hero" id="hero-scene">
    <section class="move pd-0">
        <div class="container">
            <section class="treatment pd-0">
                <img src="/assets/img/KUSAMA_Parachains.gif" alt="Kusama">
                <div class="typed-text-wrap">
                    <span class="typed-text typed-text-hero">PARACHAIN AUCTIONS ARE HERE</span>
                </div>
            </section>
            <section class="pd-0">
                <a href="/auctions" class="btn btn-outline-primary" style="margin-right: 0;">
                    Learn more
                </a>
            </section>
        </div>
    </section>
</section>
